<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" version="3.0">
  <servlet>
    <servlet-name>HelloServlet</servlet-name>
    <servlet-class>com.sccc.ch10.HelloServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Guess</servlet-name>
    <servlet-class>com.sccc.ch10.Guess</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Hero</servlet-name>
    <servlet-class>com.sccc.lol.HeroServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Hero</servlet-name>
    <url-pattern>/hero</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>Guess</servlet-name>
    <url-pattern>/Guess</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ZhuCe</servlet-name>
    <servlet-class>com.sccc.ch10.ZhuCeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ZhuCe</servlet-name>
    <url-pattern>/zhuCe</url-pattern>
  </servlet-mapping>
</web-app>